<h2><%= t "devise.two_factor_authentication.header" %></h2>

<p><%= t "devise.two_factor_authentication.edit.yubikey.instructions" %></p>

<%= form_tag([resource_name, :two_factor_authentication], :method => :put) do %>
  <%= devise_error_messages! %>
  <p><%= label_tag :code, t("devise.two_factor_authentication.edit.common.code_label") %><br />
  <%= text_field_tag :code %></p>
  <p><%= check_box_tag :trust_device %> <%= label_tag :trust_device %></p>
  <%= hidden_field_tag(:challenge_id, @challenge.id) %>
  <p><%= submit_tag t("devise.two_factor_authentication.edit.common.submit_button") %></p>
<% end -%>

<p><%= t "devise.two_factor_authentication.edit.common.recovery_message" %>
