<h2><%= t "devise.two_factor_authentication.header" %></h2>

<p>
  <%= t "devise.two_factor_authentication.edit.sms.instructions" %>
  <%= link_to t("devise.two_factor_authentication.edit.sms.resend"), send("new_#{resource_name}_two_factor_authentication_path") %>.
</p>

<%= form_tag([resource_name, :two_factor_authentication], :method => :put) do %>
  <%= devise_error_messages! %>
  <p><%= label_tag :code, t("devise.two_factor_authentication.edit.common.code_label") %><br />
  <%= text_field_tag :code %>
  <%= hidden_field_tag(:challenge_id, @challenge.id) %>
  <p><%= submit_tag t("devise.two_factor_authentication.edit.common.submit_button") %></p>
<% end -%>

<p><%= t "devise.two_factor_authentication.edit.common.recovery_message" %>
